build*/
.build*/
submodules/
subprojects/expat.wrap
subprojects/*/
!subprojects/packagefiles
/appimage*
.vscode
.cache
.ccls-cache
.pragtical-debug.log
.run*
*.diff
*.exe
*.tar.gz
*.zip
*.DS_Store
*App*
compile_commands.json
error.txt
pragtical*
Pragtical*

!resources/windows/*.diff
!resources/windows/*.exe.manifest.in
