build*/
.build*/
submodules/
subprojects/*/
subprojects/.wraplock
!subprojects/packagefiles
/appimage*
.vscode
.cache
.ccls-cache
.pragtical-debug.log
.run*
*.diff
*.exe
*.tar.gz
*.zip
*.DS_Store
*App*
compile_commands.json
error.txt
pragtical*
Pragtical*
luacov.stats.out
luacov.report.html

!resources/windows/*.diff
!resources/windows/*.exe.manifest.in
