[Desktop Entry]
Type=Application
Name=Pragtical
Comment=The practical and pragmatic code editor.
Exec=pragtical %F
Icon=pragtical
Terminal=false
StartupWMClass=dev.pragtical.Pragtical
Categories=Development;IDE;TextEditor;
MimeType=text/plain;inode/directory;
