name: Release

on:
  push:
    tags:
      - v[0-9]+.*

  workflow_dispatch:
    inputs:
      version:
        description: Release Version
        default: v3.6.0
        required: true


permissions: write-all

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-22.04
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      version: ${{ steps.tag.outputs.version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - name: Set Tag
        id: tag
        run: |
          if [[ "${{ github.event.inputs.version }}" != "" ]]; then
            echo "version=${{ github.event.inputs.version }}" >> "$GITHUB_OUTPUT"
          else
            echo "version=${GITHUB_REF/refs\/tags\//}" >> "$GITHUB_OUTPUT"
          fi
      - name: Update Tag
        uses: richardsimko/update-tag@v1
        with:
          tag_name: ${{ steps.tag.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ steps.tag.outputs.version }}
          name: Pragtical ${{ steps.tag.outputs.version }}
          draft: true
          generate_release_notes: true
          body: >
            ### Notes


            * When installing on MacOS from the `.dmg` file (since Pragtical is
            not signed) you will need to clear the App attributes in order to
            be able to launch it. To do so open the terminal and run
            `xattr -cr /Applications/Pragtical.app`, afterwards you should be
            able to launch Pragtical normally.

  build_linux:
    name: Linux
    needs: release
    strategy:
      matrix:
        config:
          - arch: x86_64
            distro: ubuntu-22.04
          - arch: aarch64
            distro: ubuntu-22.04-arm
    runs-on: ${{ matrix.config.distro }}
    env:
      CC: gcc
      CXX: g++
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - name: Set Environment Variables
        run: |
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
          echo "/usr/lib/ccache" >> "$GITHUB_PATH"
          echo "INSTALL_REF=${{ needs.release.outputs.version }}" >> "$GITHUB_ENV"
      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Setup cmake
        run: |
          wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc \
            2>/dev/null \
            | gpg --dearmor - \
            | sudo tee /usr/share/keyrings/kitware-archive-keyring.gpg \
            > /dev/null
          echo 'deb [signed-by=/usr/share/keyrings/kitware-archive-keyring.gpg] https://apt.kitware.com/ubuntu/ jammy main' \
            | sudo tee /etc/apt/sources.list.d/kitware.list \
            > /dev/null
          sudo apt-get update
          sudo apt-get install kitware-archive-keyring
          sudo apt-get install cmake
      - name: Update Packages
        run: sudo apt-get update
      - name: Install Dependencies
        run: |
          sudo apt-get install -y ccache
          bash scripts/install-dependencies.sh --debug
      - name: Build Portable
        run: bash scripts/build.sh --debug --forcefallback --portable --release --lto --pgo
      - name: Package Portables
        run: bash scripts/package.sh --version ${INSTALL_REF} --debug --addons --binary --release
      - name: Build AppImages
        run: bash scripts/appimage.sh --debug --static --addons --version ${INSTALL_REF} --release --lto --pgo
      - name: Upload Files
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ needs.release.outputs.version }}
          draft: true
          files: |
            pragtical-${{ env.INSTALL_REF }}-linux-${{ matrix.config.arch }}-portable.tar.gz
            Pragtical-${{ env.INSTALL_REF }}-${{ matrix.config.arch }}.AppImage

  build_macos:
    name: macOS
    needs: release
    strategy:
      matrix:
        config:
          - arch: x86_64
            image: macos-13
          - arch: arm64
            image: macos-14
    runs-on: ${{ matrix.config.image }}
    env:
      CC: clang
      CXX: clang++
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - name: System Information
        run: |
          system_profiler SPSoftwareDataType
          bash --version
          gcc -v
          xcodebuild -version
      - name: Set Environment Variables
        run: |
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
          echo "INSTALL_REF=${{ needs.release.outputs.version }}" >> "$GITHUB_ENV"
          echo "INSTALL_NAME=pragtical-${{ needs.release.outputs.version }}-macos-${{ matrix.config.arch }}" >> "$GITHUB_ENV"
      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
      - name: Install Dependencies
        run: bash scripts/install-dependencies.sh --debug
      - name: Build
        run: |
          bash scripts/build.sh --bundle --debug --forcefallback --lto --pgo --release
      - name: Create DMG Image
        run: |
          bash scripts/package.sh --version ${INSTALL_REF} --debug --addons --dmg --release
      - name: Upload Files
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ needs.release.outputs.version }}
          draft: true
          files: |
            ${{ env.INSTALL_NAME }}.dmg

  build_windows_msys2:
    name: Windows
    needs: release
    runs-on: windows-2022
    strategy:
      matrix:
        config:
          # - {msystem: MINGW32, arch: i686}
          - {msystem: MINGW64, arch: x86_64}
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.config.msystem }}
          install: >-
            base-devel
            git
            zip
            unzip
            mingw-w64-${{ matrix.config.arch }}-gcc
            mingw-w64-${{ matrix.config.arch }}-python-pip
            mingw-w64-${{ matrix.config.arch }}-ninja
            mingw-w64-${{ matrix.config.arch }}-cmake
            mingw-w64-${{ matrix.config.arch }}-ca-certificates
            mingw-w64-${{ matrix.config.arch }}-ntldd
      - name: Setup Meson
        run: |
          pip install meson --break-system-packages
      - name: Set Environment Variables
        run: |
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
          echo "INSTALL_REF=${{ needs.release.outputs.version }}" >> "$GITHUB_ENV"
          if [[ "${MSYSTEM}" == "MINGW64" ]]; then
            echo "BUILD_ARCH=x86_64" >> "$GITHUB_ENV"
            echo "INSTALL_NAME=pragtical-${{ needs.release.outputs.version }}-windows-x86_64" >> "$GITHUB_ENV"
          else
            echo "BUILD_ARCH=i686" >> "$GITHUB_ENV"
            echo "INSTALL_NAME=pragtical-${{ needs.release.outputs.version }}-windows-i686" >> "$GITHUB_ENV"
          fi
      - name: Build
        run: |
          bash --version
          bash scripts/build.sh --debug --forcefallback --release --lto --pgo
      - name: Package
        run: bash scripts/package.sh --version ${INSTALL_REF} --addons --debug --binary --release
      - name: Build Installer
        run: bash scripts/innosetup/innosetup.sh --debug --version ${INSTALL_REF}
      - name: Upload Files
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ needs.release.outputs.version }}
          draft: true
          files: |
            ${{ env.INSTALL_NAME }}.zip
            Pragtical-${{ env.INSTALL_REF }}-${{ env.BUILD_ARCH }}-setup.exe
